*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: serif;
}
body{
    background-color: #001;
    display: flex;
}
.img-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid wheat;
    flex-shrink: 0; /*الغاء الانكماش*/
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: capitalize;
    font-size: 20px;
}

.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;/*اخفاء ما خارج حدود العنصر*/
    transition: .5s;
    border-radius: 8px;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    display: flex;/* وضع الابناء بجنب بعضهم*/
    align-items: center;/* سنتر الأبناء*/
    transition: .5s;
}
ul li a p{
    padding: 0px 40px;
}
ul li a:hover, .active, .data-info .box:hover , td:hover{
    background-color: rgb(10, 68, 143);
}
.log-out{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.fas{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.content .title{
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-between;/*  تباعد بين العناصر */
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;/*كان مفماش مساحة نزل العناصر تحت بعض*/
    gap: 10px;/*مساحة بين العناصر*/
}
.data-info .box{
    background-color: #123;
    height: 150px;
    width: 150px;
    flex-grow: 1;/*تعبئة المساحة الفارغة*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
    border-radius: 8px;
}

.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td,th{
    background-color: #123;
    border-radius: 8px;
    padding: 8px;
    transition: .5s;
}
th{
    background-color: blue;
}
.price, .count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;

}
.count{
    background: yellow;
    color: black;
}